.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.product {
  --details-background-color: hsl(0, 0%, 85%);

  border-radius: 0.6rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.product .product-banner {
  width: 100%;
  height: 10rem;
  overflow: hidden;

  user-select: none;

  background-color: var(--details-background-color);
  border-bottom: 0.1rem solid black;
}

.product .product-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .product-details {
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--details-background-color);
  flex-grow: 1;
}

.details-left .product-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-top: 0.1rem;
  font-size: 0.8rem;
}
.product-price .original-price.strikethrough {
  text-decoration: line-through;
  font-weight: 700;
}

.product-price .sales-price {
  position: relative;
  font-size: 1rem;
  margin-left: 0.7rem;
  font-weight: bold;
}

.product-price .sales-price::before {
  content: "•";
  position: absolute;
  left: -20%;
  top: -70%;
  font-size: 2rem;
  font-weight: bolder;
}

.details-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin-top: 0.3rem;
}

.details-right .add-to-cart-button,
.details-right .buy-button {
  font-size: 1rem;
  height: 2rem;
  /* flex-grow: 1; */
}

.details-right .quantity {
  all: unset;
  width: 0.3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.details-right .quantities-button {
  font-size: 1rem;
}

.details-right .remove-button {
  font-size: 1rem;
  background-color: hsl(3, 90%, 40%);
  flex-grow: 0.5;
  color: var(--secondary-text-color);
}
.details-right .remove-button:hover {
  background-color: hsl(3, 100%, 50%);
  color: var(--text-color);
}

/* Smaller devices */

@media only screen and (max-width: 550px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 430px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Large Devices */
@media only screen and (min-width: 800px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1300px) {
  .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1800px) {
  .products-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
