:root {
  --primary-color: rgb(77, 212, 255);
  --secondary-color: rgb();

  --primary-text-color: rgb(0, 0, 0);
  --secondary-text-color: rgb(255, 255, 255);

  --primary-font: "Jura", "sans-serif";
}

html,
body {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}
