:root {
  --primary-color: rgb(77, 212, 255);
  --secondary-color: rgb();

  --primary-text-color: rgb(0, 0, 0);
  --secondary-text-color: rgb(255, 255, 255);

  --primary-font: "Jura", "sans-serif";
}

html,
body {
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: 0.15rem solid black;
}

.generic-button {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(202, 90%, 40%);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generic-button:hover {
  background-color: hsl(202, 100%, 50%);
}
